{
  "ignore": ["src/**/__specs__"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
